section.widgets__box.about-me
  h3.widgets__heading.about-me__heading
    a(href="about.html") About me
  a.about-me__link(href="about.html")
    img.about-me__cover(src="img/about_me-cover.jpg" alt="Me" width="322" height="240")
  p.about-me__desc Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source
