section.widgets__box.categories
  h3.widgets__heading.categories__heading
    a(href="single-post.html") Category
  ul.categories__list
    li.categories__item
      a.categories__link(href="#") Beard
    li.categories__item
      a.categories__link(href="#") Travel
    li.categories__item
      a.categories__link(href="#") Sun Rise
    li.categories__item
      a.categories__link(href="#") Village
    li.categories__item
      a.categories__link(href="#") Night Fall
    li.categories__item
      a.categories__link(href="#") City
    li.categories__item
      a.categories__link(href="#") Local Food
