section.widgets__box.popular-posts
  h3.widgets__heading.popular-posts__heading
    a(href="single-post.html") Popular Post
  ul.popular-posts__list
    li.popular-posts__item
      article.popular-posts__post.mini-post
        a.mini-post__link(href="single-post.html")
          img.mini-post__cover(src="img/article-1-thumb.jpg" alt="Being Atraveler in The World" width="144" height="96")
        h4.mini-post__title
          a(href="single-post.html") Being Atraveler in The World, Just Like A lion Without Beard
        p.mini-post__date Posted on &nbsp;
          time(datetime="2020-02-29 12:00") February 29, 2020
    li.popular-posts__item
      article.popular-posts__post.mini-post
        a.mini-post__link(href="single-post.html")
          img.mini-post__cover(src="img/article-2-thumb.jpg" alt="Lorem Ipsum Dolor Sit met" width="144" height="96")
        h4.mini-post__title
          a(href="single-post.html") Lorem Ipsum Dolor Sit met, Just a Dummy text for Content
        p.mini-post__date Posted on &nbsp;
          time(datetime="2020-02-29 12:00") February 29, 2020
    li.popular-posts__item
      article.popular-posts__post.mini-post
        a.mini-post__link(href="single-post.html")
          img.mini-post__cover(src="img/article-5-thumb.jpg" alt="Just a Dummy text for Content" width="144" height="96")
        h4.mini-post__title
          a(href="single-post.html") Just a Dummy text for Content, Lorem Ipsum
        p.mini-post__date Posted on &nbsp;
          time(datetime="2020-02-29 12:00") February 29, 2020
