section.widgets__box.subscribe
  h3.widgets__heading.subscribe__heading
    span Subscribe
  p.subscribe__desc Subscribe to Our newsletter for free Update every week
  form.subscribe__form(action="#")
    label.subscribe__label.visually-hidden(for="subscribe-email") Your Email
    input.subscribe__input#subscribe-email(type="email" placeholder="Your Email" required)
    button.subscribe__submit(type="submit") Subscribe
