.footer {
  flex: 0 0 auto;
  margin-top: auto;
  border-top: 1px solid #e1e1e1;
  background: #fff;
}

.copyright {
  margin: 0;
  padding: 20px 0;
  font: bold 14px/2 "Oswald", sans-serif;
  color: #000;
  text-align: center;
  text-transform: uppercase;
}
