extends common/layout

block title
  title About us

block main
    main.main
      h1.main__heading
        span About Us

      .container
        section.about-us
          .about-us__cover
            img.about-us__avatar(src="img/about_us-avatar.png" alt="Vladimir Bogi")
          h2.about-us__heading
            span Vladimir Bogi
          .about-us__desc
            p Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.
          include includes/modules/share-buttons
