extends common/layout

block title
  title Contact

block main

    main.main
      h1.main__heading
        span Contact Us

      .container

        include includes/contact/contact-info
        include includes/contact/contact-map
        include includes/contact/contact-form
