extends common/layout

block title
  title Zero article

block og
  meta(property="og:title" content="Being Atraveler in The World, Just Like A lion Without Beard")
  meta(property="og:description" content="Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.")
  meta(property="og:type" content="article")
  meta(property="article:published_time" content="2020-03-10")
  meta(property="article:modified_time" content="2020-03-10")
  meta(property="article:author" content="http://localhost:3000/about.html")
  meta(property="article:section" content="Relationship")
  meta(property="og:site_name" content="Zero site name")
  meta(property="og:url" content="https://bo-developer.github.io/zero.github.io/build/single-post.html")
  meta(property="og:image" content="https://bo-developer.github.io/zero.github.io/build/img/article-1.jpg")

block main
  .container
    .center-cols
      main.main
        include includes/single-post/article
        include includes/single-post/author
        include includes/single-post/comments
        include includes/single-post/related-posts
      aside.aside.widgets
        include includes/modules/about-me
        include includes/modules/subscribe
        include includes/modules/popular-posts
        include includes/modules/categories
        include includes/modules/advert
