section.widgets__box.widgets__box--big.author
  h3.widgets__heading.widgets__heading--bigger-indent.author__heading
    span Author
  .author__inner
    img.author__pic(src="img/author.jpg" alt="Author" width="96" height="96")
    h4.author__name Cool Man
    p.author__desc Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
