section.widgets__box.widgets__box--big.related-posts
  h2.widgets__heading.widgets__heading--bigger-indent.related-posts__heading
    span Related Post
  ul.related-posts__list
    li.related-posts__item
      a.related-posts__link(href="#")
        img.related-posts__cover(src="img/related-post.jpg" alt="It is a long established fact that a reader will be distracted by the readable content" width="334" height="216")
      h3.related-posts__title
        a(href="#") It is a long established fact that a reader will be distracted by the readable content
    li.related-posts__item
      a.related-posts__link(href="#")
        img.related-posts__cover(src="img/related-post-2.jpg" alt="Making it look like readable English. Many desktop publishing packages" width="334" height="216")
      h3.related-posts__title
        a(href="#") Making it look like readable English. Many desktop publishing packages
