.contact-info
  ul.contact-info__list
    li.contact-info__item
      h2.contact-info__heading.widgets__heading
        span Address
      p.contact-info__ico-wrap
        img.contact-info__ico(src="img/contact-address_ico.svg" alt="" width="27" height="28")
      p.contact-info__desc 1600 Pennsylvania Ave NW,
        br
        | Washington, DC 20500,
        br
        | USA
    li.contact-info__item
      h2.contact-info__heading.widgets__heading
        span Phone
      p.contact-info__ico-wrap
        img.contact-info__ico(src="img/contact-phone_ico.svg" alt="" width="25" height="25")
      p.contact-info__desc
        a(href="+6281328710504") +62 813 2871 0504
        br
        a(href="+6281328710504") +62 813 2871 0504
    li.contact-info__item
      h2.contact-info__heading.widgets__heading
        span Email
      p.contact-info__ico-wrap
        img.contact-info__ico(src="img/contact-mail_ico.svg" alt="" width="27" height="18")
      p.contact-info__desc
        a(href="mailto:dwidrg@gmail.com") dwidrg@gmail.com
